<div class="card">
  <a [routerLink]="link">
    <header class="card-header">
      <p class="card-header-title">
        {{title}}
      </p>
    </header>
    <div #cardContent class="card-content">
      <div class="content">
        {{body}}
      </div>

    </div>
    <div #truncator class="fade-out-truncation"></div>
  </a>
  <div (click)="close()" class="card-header-icon" aria-label="more options">
    <span class="icon">
      <i class="fas fa-times" aria-hidden="true"></i>
    </span>
  </div>
</div>
